---
import { Image } from "astro:assets";
import imageMosaic from "../../assets/img/mosaic.jpg"
import Btn from "../vue/Btn.vue";
---
<section>

    <div class="container mx-auto md:flex mt-8 mb-20 md:items-center">

        <div class="md:-ml-12 basis-1/2">
            <!-- <Image class="-rotate-3 border-4 border-white" src={imageHypnose} height="600" format="webp" alt="Thérapie Mosaic" />  -->
            <Image class="mx-auto md:float-right md:mx-0 xs:h-64 w-auto -rotate-3 border-4 border-white" src={imageMosaic} height="400" format="webp" alt="Thérapie Mosaic" /> 
        </div>


        <div class="bg-secondary text-light px-4 -mt-4 py-8 md:px-16 md:-ml-8">
            <h2 class="text-3xl md:text-4xl text-center md:text-left pb-2">Thérapie Mosaic</h2>
            <p>Cette thérapie est basée, comme l'EMDR, sur les stimulations bilatérales alternées. Mais contrairement à celle-ci, elle est plus douce, moins confrontante et tout aussi efficace.</p>
            <p>Elle a été développée par Stéphanie Khalfa, chercheuse au CNRS et bénéficie de nombreuses recherches qui la font évoluer constamment.</p>
            <p>Je la trouve particulièrement efficace pour traiter les problèmes de :
                <ul>
                    <li>Troubles post-traumatiques</li>
                    <li>Addictions</li>
                    <li>Phobie</li>
                    <li>Dépression</li>
                </ul>
            </p>
            <div class="text-center"><a href="/therapie-mosaic"><Btn color="lightBtn" textColor="secondary">Découvrir la thérapie Mosaic</Btn></a></div>
        </div>
    </div>

</section>