<div class="text-light ">
    <p class="citation text-3xl lg:text-4xl">"<slot />"</p>
    <p class="author text-xl ">- <slot name="author"  /></p>
</div>

<style scoped>
  .citation {
    font-family: "rufina" !important;
    font-weight: bold !important;
    margin-bottom: 0.1em !important;
    line-height: 1em !important;
    font-style:italic;
  }

  .author{

  }

</style>